body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom right, red, blue, orange, pink);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#redirect-button {
    position: relative;
    z-index: 2;
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
