body {
    background: linear-gradient(to bottom right, red, blue, orange, pink);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#red-square {
    width: 100px;
    height: 100px;
    background-color: red;
}
